html{
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 80px;
	background-color: #777;
}


.main
{
	background-color: #67cec8;
	padding:15px;
	border-bottom-width: 2px;
	border-bottom-color: black;
	border-bottom-style: solid;
	margin-bottom: 10px;
	max-height: 300px;

}

box
{
	width:30px;
	height:30px;
	display:inline-block;
	margin:1px;
	cursor: pointer;
	text-align: left;
	font-size: 0.8em;
	user-select:none;
}

.btn
{
	margin: 10px;
	background-color: transparent;
	color:#80ff00;
}
 .btn:focus, .btn:hover
 {
 	outline: none;
 }

.download, .update
{
	float: right;
	margin: 0px;
	background-color: #80ff00;
	color: black;
}

.download:hover, .download:focus,
.update:hover, .update:focus
{
	background-color: #002200;
}

.sympalette, .palette, .palpalette
{
	background-color: #333 !important;
	border-color: #222 !important;
	border-width: 5px;
	color:#ccc !important;
}

#codearea 
{
	font-family: "Lucida Console", Monaco, monospace;
}

.console
{
	background-color: #333 !important;
	border-color: #222 !important;
	border-width: 5px;
	color:#80ff00 !important;
}

.rgb
{
height:400px;
overflow-y:scroll;
}

.drag
{
	max-height: 400px;
	margin: 0px;
	padding: 0px;
}

input
{
	background:transparent;
	border-width: 0px;
	color:#ccc;
	padding:0px;
	width: 40%;
	text-align: right;
	margin-bottom: -1px;
}

input:focus, input:hover
{
	outline: none;
}

row
{
	font-size: 1.6em;
	margin: 0px;
}

.navbar
{
	border-radius: 0px;
}

.col-sm-2, .col-sm-5
{
	padding: 1px !important;
}

img
{
	margin: 0 auto;
}

.btn-full
{
	width: 100%;
	
	margin: 0px;
	border-width: 0px;
}

.btn-full:hover, .btn-full:focus
{
	background-color: transparent;
	color:#ff7f00;
	outline: none;
}

li
{
	display: inline-block;
}
.li-next
{
	display: block;
}

.panel-bottom
{
	height: 550px;
	overflow-y: scroll;
}

.dropzone
{
	min-height: 40px;
}

red
{
	color:red;
}

.dropzone
{
	background-color: RGBA(0,0,0,.50);
	height:180px;
	overflow: scroll;
}

white
{
	color: white;
	text-decoration: underline;
}

brand
{
	color:#bebebe;
}

blue
{
	color:#0080ff;
}